{% extends "admin/base_site.html" %}

{% block title %}Статистика{{ report.name }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Главная</a>
› <a href="{% url 'admin:app_list' app_label='telegram' %}">админ панель</a>
› Статистика
</div>
{% endblock %}



{% block content %}

<style>
  /* Основные стили для иконок */
.icon-boolean {
  border: 2px solid; /* обводка */
  width: 1em; height: 1em; /* размеры */
  border-radius: 50%; /* круглая форма */
  display: inline-flex; /* позволяет выровнять иконку по центру */
  align-items: center; /* вертикальное выравнивание */
  justify-content: center; /* горизонтальное выравнивание */
  font-size: 0.7em; /* размер иконки */
}

/* Стили для статуса "Сдан" */
.icon-boolean.true {
  border-color: #4caf50; /* зелёная обводка */
  color: #4caf50; /* зелёный цвет символа */
}

/* Стили для статуса "Не сдан" */
.icon-boolean.false {
  border-color: #f44336; /* красная обводка */
  color: #f44336; /* красный цвет символа */
}
</style>

<div class="app-report model-point module">
    <h1>Статистика</h1>

    


    <table class="change-list" style="width: 100%;">
        <thead>
            <tr>
                <th>Код ТТ</th>
                <th>Адрес</th>
                <th>Город</th>
                <th>Регион</th>
                <th>Вопросы</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}