{% extends "admin/base_site.html" %}

{% block title %}Статистика{{ report.name }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Главная</a>
› <a href="{% url 'admin:app_list' app_label='telegram' %}">админ панель</a>
› Статистика
</div>
{% endblock %}


{% block content %}
    <div class="app-report model-point module">
        <h1>Статистика</h1>
    
        <table class="change-list" style="width: 100%;">
              <thead>
            <tr>
                <th>Точка</th>
                {% for month in months %}
                <th>{{ month }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for point_data in data %}
            <tr>
                <td>{{ point_data.title }}</td>
                {% for amount in point_data.data %}
                <td>{{ amount }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}